*{
    font-family: Arial, Helvetica, sans-serif;  
}
header a {
    color: inherit;
}
body{
    background-color: #f2f2f2;
    padding-bottom: 20px;
}
html, body{
    min-height: 100%;
    margin: 0;
}
header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
.header-content{
    max-width: 1200px;
    margin: 0 auto;
}
main{
    max-width: 1200px;
    margin: 20px auto auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
.main-content{
    display: block;
}
