*{
    font-family: Arial, Helvetica, sans-serif;  
}
body{
    background-color: #f2f2f2;
}
html, body{
    height: 100%;
    margin: 0;
}
header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
.header-content{
    max-width: 1200px;
    margin: 0 auto;
}
main{
    max-width: 1200px;
    margin: 20px auto auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
footer{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
}
.footer-content{
    max-width: 1200px;
    margin: 0 auto;
}